* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
}

.app-left {
  width: 70vw;
}

.app-right {
  width: 30vw;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
