* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f6fa;
}

.app {
  display: flex;
  flex-direction: row;
}

.app-left {
  width: 70vw;
}

.app-right {
  width: 30vw;
  border: 1px solid black;
  margin: 30px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.app-ranking {
  padding-left: 25px;
}

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  font-size: 40px;
}

.app-title {
}

.app-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ranking-title {
  font-size: 30px;
  background-color: rgb(230, 230, 230);
}
